# os
Thumbs.db
.DS_Store

# ide
.idea
.vscode
.iml

# auto generated
**/*.pyc
*.autosave
*.user
*.user.*
CMakeSettings.json
.vs
__pycache__
Brewfile.lock.json
.metals

# node
node_modules
package-lock.json

# conan
/CMakeUserPresets.json

# java/kotlin
.gradle

# cxx
.cxx

# flutter
*.reflectable.dart

# custom
build
build-*
